/* Define CSS variables for colour values */
:root {
	--background-color: #292929;	/* Dark background colour */
	--foreground-color: #FFFFFF;	/* White foreground colour */
	--default-button: #808080;	/* Default button colour */
	--font-color: #FFFFFF; /* Default font color */
	--health-color: #FF0000;	/* Colour for health bar */
	--ammo-color: #248092;	/* Colour for ammo bar */
}

/* Set the background colour of the body */
body {
	background-color: var(--background-color) !important;
}

/* Style for the console element */
#console {
	display: none;	/* Hide the console be default */
	width: 50%;	/* Set the width to 50% */
	margin: auto;	/* Center the console */
}

/* Style for paragraph elements */
p {
	color: var(--foreground-color);	/* Set text colour to white */
}

/* Style for the help message element */
#message_help {
	display: none;	/* Hide the help element by default */
}

/* Style for preformatted text elements */
pre {
	color: var(--foreground-color);	/* Set the text colour to white */
}

/* Style for text box elements */
.textBox {
	margin: auto;	/* Center the text box */
	display: block;	/* Display as block element */
}

/* Style for the text output area */
.textOutput {
	border: 1px solid var(--foreground-color);	/* White border */
	width: 50%;	/* Set the width to 50% */
	height: 300px; /* Set the height to 300 pixels */
	background: var(--background-color); /* Dark background */
	margin: auto;	/* Center the text output area */
	margin-top: 25px;	/* Add top margin */
	overflow: auto;	/* Enable scrolling if content overflows */
	border-radius: 10px;	/* Rounded corners */
	padding: 10px; /* Add padding to the text output  */
}

/* Style for combat buttons */
.combatMenu {
	border: 1px solid var(--foreground-color);	/* White border */
	width: 50%;	/* Set the width to 50% */
	height: 100px; /* Set the height to 100 pixels */
	background: var(--background-color);
	margin: auto;	/* Center the combat menu */
	margin-top: 25px;	/* Add top margin */
	border-radius: 10px;	/* Rounded corners */
}

/* Style for explore buttons */
.exploreMenu {
	border: 1px solid var(--foreground-color);	/* White border */
	width: 50%;	/* Set the width to 50% */
	height: 100px; /* Set the height to 100 pixels */
	background: var(--background-color);
	margin: auto;	/* Center the explore menu */
	margin-top: 50px;	/* Add top margin */
	border-radius: 10px;	/* Rounded corners */
}

/* Style for player health bar */
#playerHealth {
	background: var(--health-color);	/* Health colour background */
	width: 10px;	/* Set the width to 10 pixels */
	height: 200px; /* Set the height to 200 pixels */
	position: absolute;	/* Position bar relitive to nearest ancestor */
	left: 22%;	/* Position bar next to text output */
	border-radius: 5px;	/* Rounded corners */
}

/* Style for player ammo bar */
#playerAmmo {
	background: var(--ammo-color);	/* Ammo colour background */
	width: 10px;	/* Set the width to 10 pixels */
	height: 200px; /* Set the height to 200 pixels */
	position: absolute;	/* Position bar relitive to nearest ancestor */
	left: 21%;	/* Position bar next to text output */
	border-radius: 5px;	/* Rounded corners */
}

#enemyHealth {
	background: var(--health-color);	/* Health colour background */
	width: 10px;	/* Set the width to 10 pixels */
	height: 200px; /* Set the height to 200 pixels */
	position: absolute;	/* Position bar relitive to nearest ancestor */
	right: 22%;	/* Position bar next to text output */
	border-radius: 5px;	/* Rounded corners */
}

/* Style for the wanted poster element */
#wantedPoster {
    margin: 0; /* Remove default margin */
    position: absolute; /* Position absolutely within the containing element */
    top: 50%; /* Center vertically within the containing element */
    left: 50%; /* Center horizontally within the containing element */
    -ms-transform: translate(-50%, -50%); /* IE 9: Translate to center the element */
    transform: translate(-50%, -50%); /* Standard syntax: Translate to center the element */
    max-width: 100%; /* Ensure the width does not exceed 100% of the containing element */
    height: auto; /* Set the height to scale proportionally with the width */
    width: 600px; /* Set the width to 600 pixels */
}

/* Style for combat buttons */
.combatButton {
	margin-top: 5px;	/* Add top margin */
	background: var(--default-button);	/* Default button background */
	border: none;	/* Remove button border */
	display: inline-block;	/* Displays as inline-block */
	text-decoration: none;	/* Remove  text decoration */
	border-radius: 5px;	/* Rounded corners */
}

/* Specific style for the useDagger button */
#useDagger {
	background: var(--health-color);	/* Health colour background */
	margin-left: 5px;	/* Add left margin */
}

/* Specific style for the useBandage button */
#useBandage {
	background: var(--health-color);	/* Health Colour background */
}

/* Specific style for the useRevolver button */
#useRevolver {
	background: var(--ammo-color);	/* Ammo colour background */
}

/* Specific style for the reloadRevolver button */
#reloadRevolver {
	background: var(--ammo-color);	/* Ammo colour background */
}

/* Style for explore buttons */
.exploreButton {
	margin-top: 5px;	/* Add top margin */
	background: var(--default-button);	/* Default button background */
	border: none;	/* Remove button border */
	display: inline-block;	/* Display as inline-block */
	text-decoration: none;	/* Remove text decoration */
	border-radius: 5px;	/* Rounded corners */
}

/* Specific style for the explore button */
#explore {
	margin-left: 5px;	/* Add left margin */
}

/* Style for enemy image used in combat */
#enemyImage {
	display: block;	/* Display as block */
	margin-left: auto;	/* Adds left margin to center image */
	margin-right: auto;	/* Adds right margin to center image */
	margin-top: 10px;	/* Adds top margin for better visuals */
}