:root {
	--background-color: #292929;
	--foreground-color: white;
	--health-color: red;
	--ammo-color: #248092;
}

body {
	background-color: var(--background-color);
}

#console {
	display: none;
	width: 50%;
	margin: auto;
}

p {
	color: var(--foreground-color);
}

#message_help {
	display: none;
}

pre {
	color: var(--foreground-color);
}

.textBox {
	margin: auto;
	display: block;
}

.output {
	display: none;
	width: 50%;
	margin: auto;
}

/*Begin Combat */

.combat {
	border: 1px solid var(--foreground-color);
	width: 50%;
	height: 300px;
	background: var(--background-color);
	margin: auto;
	margin-top: 50px;
	overflow: auto;
}

.combatMenu {
	border: 1px solid var(--foreground-color);
	width: 50%;
	height: 100px;
	background: var(--background-color);
	margin: auto;
	margin-top: 50px;
}

#playerHealth {
	background: var(--health-color);
	width: 10px;
	height: 200px;
	position: absolute;
	left: 22%;
}

#playerAmmo {
	background: var(--ammo-color);
	width: 10px;
	height: 200px;
	position: absolute;
	left: 21%;
}

#enemyHealth {
	background: var(--health-color);
	width: 10px;
	height: 200px;
	position: absolute;
	top: 50px;
	right: 22%;
}

#enemyAmmo {
	background: var(--ammo-color);
	width: 10px;
	height: 200px;
	position: absolute;
	right: 395px;
	top: 21%;
}

/* Combat buttons */
.combatButton {
	margin-top: 5px;
	background: gray;
	border: none;
	display: inline-block;
	text-decoration: none;
}

#useDagger {
	background: var(--health-color);
	margin-left: 5px;
}

#useRevolver {
	background: var(--ammo-color);
}

#reloadRevolver {
	background: var(--ammo-color);
}

#useBandage {
	background: var(--health-color);
}

#inventory {
	background-color: var(--background-color);
	color: var(--foreground-color);
	position: relative;
}

option {
	color: var(--foreground-color);
}

#restart {
	float: right;
	margin-right: 5px;
	display: none;
}